body {
    font-size:20px;
    background-color:lightcoral;
    color:royalblue;
    margin:0 auto;
    padding: 100px;
    font-family: 'Alata', sans-serif;
}


input {
    background-color:lightpink;
    font-size:20px;
    color:red;
}








button {
    background-color:sandybrown;
    color:red;
    font-size:20px;
    border-radius:5px;
 


    

}